/* =============================================================================================
STYLE RESETS
================================================================================================ */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==============================================================================================
GENERAL STYLES
================================================================================================= */

/* --------------------------------------------
Layout
----------------------------------------------- */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

.buffer {
  flex-grow: 1;
  flex-shrink: 0;
  max-height: 150px;
}

/* --------------------------------------------
Fonts
----------------------------------------------- */
body {
  font-family: arial, sans-serif;
  color: #3c4043;
}

p,
button,
input,
a {
  font-family: arial, sans-serif;
  color: #3c4043;
  line-height: 27px;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.non-text-link:hover {
  text-decoration: none;
}

.footer-links {
  color: #70757a;
}

.footer-text {
  color: #70757a;
}

/* --------------------------------------------
Buttons
----------------------------------------------- */

button {
  padding: 0 16px;
  margin: 11px 4px;
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 1px solid #f8f9fa;
  height: 36px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid #dadce0;
}

.sign-in-button {
  background-color: #1a73e8;
  color: white;
  border-radius: 4px;
}

.sign-in-button:hover {
  background-color: #2b7de9;
}

#app-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-icon:hover {
  height: 40px;
  width: 40px;
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

/* ==============================================================================================
ALL PAGES
================================================================================================= */

/* --------------------------------------------
Header
----------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 15px 18px;
  width: 100%;
}

#header-left-nav {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

#header-right-nav {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

/* --------------------------------------------
Main Content
----------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#google-logo {
  width: 275px;
  padding: 50px 20px 0 20px;
}

img {
  width: 100%;
}

.search-form {
  padding: 20px;
  width: 100%;
}

#search-query-container {
  background: #fff;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  max-width: 584px;
  min-width: 104px;
  padding: 12px 15px;
}

.google-mic {
  height: 28px;
  width: 28px;
  vertical-align: middle;
}

#search-query-container:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

#search-query-field {
  width: 100%;
  border: none;
  margin: 0 10px;
}

#search-query-field:focus-visible {
  outline: none;
}

#search-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------
Footer
----------------------------------------------- */

footer {
  background-color: #f2f2f2;
  width: 100%;
}

#footer-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
    border-bottom: 1px solid #dadce0;
  padding: 10px 10px 10px 30px;
}

#footer-text-top {
    display: block;
}

#footer-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#footer-bottom-left {
  display: flex;
  justify-content: flex-start;
  padding: padding: 0 50px 0 0px;
  min-width: 30%;
  align-items: center;
  order: 1;
}

#footer-bottom-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
  order: 2;
}

#footer-bottom-right {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0px 0 50px;
  order: 3;
}

@media (max-width: 940px) {
  #footer-bottom {
    justify-content: space-evenly;
  }

  #footer-bottom-left {
    order: 2;
    padding: 0 100%;
    justify-content: center;
  }

  #footer-bottom-center {
    order: 1;
    padding: 0 100%;
    justify-content: center;
  }

  #footer-bottom-right {
    order: 3;
    padding: 0 100%;
    justify-content: center;
  }

  #footer-top {
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }

}

.footer-links {
  display: block;
  padding: 15px;
  white-space: nowrap;
}

#central-footer-link {
  padding: 5px;
}

#carbon-neutral-icon {
  width: 12px;
}
